{% extends 'base.html.twig' %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('build/appstyle.css') }}">
    {% endblock %}

{% block body %}

	<h1>Lista de Presidentes</h1>
	<ul>
	    {% for presidente in listapresidente %}
	        <li>{{ presidente.nombre }} - {{ presidente.fechanac|date('Y-m-d')}} - {{ presidente.pais.nombre }}</li>
	    {% endfor %}
	</ul>

	<button>Hola</button>
	
{% endblock %}

{% block javascripts %}
  	<script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
