<header>
			<div class="col">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <div class="collapse navbar-collapse" id="navbarNavDropdown">
				    <ul class="navbar-nav">
				    <div>
						<img src="http://vanstrotterstore.com/wp-content/uploads/2017/08/mapamundi_azul.png" width="100">
					</div>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Localidad
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="{{path('localidad_lista')}}">Ver localidades</a>
				          <a class="dropdown-item" href="{{path('localidad_nuevo')}}">Añadir localidad</a>
				        </div>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Provincia
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="{{path('provincia_lista')}}">Ver provincias</a>
				          <a class="dropdown-item" href="{{path('provincia_nuevo')}}">Añadir provincia</a>
				        </div>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Región
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="{{path('region_lista')}}">Ver regiones</a>
				          <a class="dropdown-item" href="{{path('region_nuevo')}}">Añadir región</a>
				        </div>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          País
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="{{path('pais_lista')}}">Ver países</a>
				          <a class="dropdown-item" href="{{path('pais_nuevo')}}">Añadir país</a>
				        </div>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Presidente
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				          <a class="dropdown-item" href="{{path('presidente_lista')}}">Ver presidentes</a>
				          <a class="dropdown-item" href="{{path('presidente_nuevo')}}">Añadir presidente</a>
				        </div>
				      </li>
				    </ul>
				  </div>
				</nav>
	     	</div>
</header>