{% extends 'base.html.twig' %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('build/appstyle.css') }}">
    {% endblock %}

{% block body %}

	<h1>Listado de localidades</h1>
	<ul>
	    {% for localidad in listalocalidad %}
	        <li>{{ localidad.nombre }} - {{ localidad.area }} - {{ localidad.habitantes }} - {{ localidad.cp }} - {{ localidad.provincia.nombre }}</li>
	    {% endfor %}
	</ul>

	<button type="button" class="btn btn-outline-warning">Localidades por "A"</button>
	<button type="button" class="btn btn-outline-primary">Con más de 50.000 habitantes</button>
	
{% endblock %}

{% block javascripts %}
  	<script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
